
<p-card header="Shirt"  >
  <ng-template pTemplate="header">
    <!-- <p>{{image}}</p> -->
      <img alt="Card" [src]="image" height="200px"/>
  </ng-template>
  <small class="font-bold">
    Essential mes's short sleeves t-shirt is a classic.
  </small>
  <ng-template pTemplate="footer">
    <div class="flex flex-row justify-content-between">
      <div class="flex">  <i class="pi pi-star mr-1 text-yellow-400"></i> <small class="text-500">4.9 | 3546</small> </div>
      <small class="text-teal-400 font-bold">$12.00</small>
    </div>
  </ng-template>
</p-card>

