<div
[@scaleDownFromBottom]="getState(o)">

  <router-outlet #o="outlet"></router-outlet>

  <p-sidebar [visible]="sideBarVisibility" [position]="'bottom'" [dismissible]="false" [showCloseIcon]="false"
    [modal]="false">

    <div class="flex flex-row h-full">
      <div class="flex flex-column w-3 h-full justify-content-center" [routerLink]="'home'">
        <span class="pi pi-home text-center text-teal-400 font-bold"></span>
        <small class="text-center mt-2 text-teal-400 font-bold">Home</small>
      </div>
      <div class="flex flex-column w-3 h-full justify-content-center" >
        <span class="pi pi-ticket text-center text-600"></span>
        <small class="text-center mt-2 text-600">Voucher</small>
      </div>
      <div class="flex flex-column w-3 h-full justify-content-center" >
        <i class="pi pi-wallet text-center text-600"></i>
        <small class="text-center mt-2 text-600">Wallet</small>
      </div>
      <div class="flex flex-column w-3 h-full justify-content-center" >
        <i class="pi pi-cog text-center text-600"></i>
        <small class="text-center mt-2 text-600">Settings</small>
      </div>
    </div>

  </p-sidebar>
</div>


