
<p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions" [showNavigators]="false" [autoplayInterval]="5000">
  <ng-template let-product pTemplate="item">
      <div class="text-center sheet">
          <div class="flex flex-column align-items-start ml-3 mb-3">
              <h6 class="mb-1">#FASHION DAY</h6>
              <h2 class="my-1">80 % OFF</h2>
              <small class="w-5 text-left text-xs">Discover fashion that suites to your style</small>
              <div class="mt-3">
                  <p-button type="button" styleClass="p-button p-button-secondary" >Check this out</p-button>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>

<h5 class="mt-0 mb-2">Best Sale Product:</h5>
<div class="grid">
  <div  *ngFor="let product of [1,2,3,4,5,6,7]; let i = index" class="col-6">
    <app-product-card [routerLink]="'product-details/' + i" [image]="'assets/shirt-' + i + '.jpg'"></app-product-card>
  </div>
</div>
<div class="h-5rem"></div>
